.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
}
.profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.cardbody-color{
    background-color: #ebf2fa;
}
a{
    text-decoration: none;
}

:root {
    --success: #00b894;
    --progress: #e17055;
  }
  
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.container {
  /* max-width: 720px; */
  margin: 0px auto;
  width: 30%;
}

.container-form {
  max-width: 720px;
  margin: 0px auto;
  width: 100%;
}

.text-center { text-align:center; }

.progressbar-wrapper {
  background-color: #dfe6e9;
  color: white;
  border-radius: 15px;
  width: 100%;
}

.progressbar {
  background-color: var(--progress);
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.action-card {
  margin:20px;
  padding:20px;
  color:white;
  font-size: 20px;
  font-weight: bold;
  border-radius:20px;
}

.action-card-eat{
  background-color:#FF4747;
}

.action-card-drink{
  background-color:#396DF1;
}

.action-card-sleep{
  background-color:#34A623;
}

.action-card-play{
  background-color:#D4CA2D;
}
.action-card span:first-child{
  padding-right: 5px;
}

.create-tamagotchi{
  background-color: white;
  position:fixed;
  right:0;
  bottom:0;
  margin:10px;
  z-index:9;
}

#myBar{
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container a{
  color:black !important;
}

.img-grave{
  width: 40%;
  height: auto;
  margin:10px;
}

.img-tamagotchi{
  max-width: 10%;
  max-height: 10%;
  margin:10px;
}

.nav-bar{
  width:100%;
}